body, a{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-decoration: none;
	font-size: 18px;
}
header{
	background-image: url(../img/grupal.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 750px;
} 
.boton{
	border-radius: 5px;
	background-color: #F69E14;
	width: 100px;
	text-align: center;
	padding: 3%;
	margin-left: 10%;
	margin-top: 25%;
}
.logo{
	width: 100%;
	margin-top: 20%;
}
nav li{
	list-style: none;
	display:inline-block;
	padding: 2%;
	margin-top: 17%;
}
.foto{
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.enlace{
	font-weight: 600;
	font-size: 20px;
}
footer{
	margin-top: 2%;
	background-color: #4C4545;
	color: #fff;
}
footer div {
	padding: 1% 0;
}
